/* Colori */
/* Blu principale */
/* color:#006aff; */
/* Blu scuro */
/* color: #031b4e */
/* Blu footer */
/* color:#010e28; */
/* Testo innovative business */
/* color:#698a99; */



/* UTILITIES */

.border-radius-5{
  border-radius: 5px;
}

.bg-white{
  background-color: #fff;
}

.bg-grey{
  background-color: #f3f5f9;
}

.txt-lightblue{
  color:#006aff;
}

.txt-lightgrey{
  color:#698a99;
}

.txt-bold{
  font-weight: bold;
}

.btn-shadow-transparent{
  color: #999;
  background-color: white;
  box-shadow: 1px 1px 4px #ccc;
  border: 0px;
}

/* RESET LISTA GENERICO SENZA COLORE*/
.reset-lista ul{
  list-style: none;
}
.reset-lista ul li{
  text-decoration: none;
  display: inline;
  /* padding-right: 15px; */
}
.reset-lista ul li a{
  text-decoration: none;
}

.reset-lista ul li a:hover{
  background-color: rgba(0,0,0,0.1);
  /* color:#006aff; */
}

.reset-lista.lista-blue ul li a{
  color: #031b4e;
}



/* ****RESET LISTA GENERICO SENZA COLORE */

/* /UTILITIES */


/* DEBUGG */
.debug-border{
  border: 1px solid violet;
}

.btn-white{
  background-color: white;
  color: #006aff;
  border-radius: 5px;
  border: 1px solid #006aff;
  padding: 5px;
}


/* Padding custom di 15px */
.bl-block-h15{
  width: 100%;
  height: 15px;
}

/* .bl-block-h15::after{
  display: block;
  content:" ";
} */

.bl-pad15{
  padding: 15px;
}

/* DEBUGG */

.navbar-fixed{
  color: #010e28;
  font-weight: 500;
}

.navbar-fixed img{
  width: 150px;
  max-height: 50px;

}

.navbar-fixed, .navbar-fixed [class*="col-"]{
  height: 50px;
  line-height: 50px;
}

/* Personalizzazione padding navbar */
.navbar-fixed ul li{
  display: inline-block;
  padding-right: 10px;
}

.navbar-fixed ul li:last-child{
  padding-right: 0px;
}


/* Sovrascrivi colore default elemento lista */
.navbar-fixed .navbar-login .btn-white{
  color:#006aff;
}




.bl-header{
  background-image: url("../img/header/sfondo.svg");
  background-size: cover;
  /* padding: 30px 0;  */ /* Non toccare i padding delle classi bootstrap container, row e col!*/
}


.bl-header .bl-jumbotron{
  background-color: rgba(0,0,0,0);
  color:white;
}

.bl-jumbotron .container h1{
  font-size: 32px;
  font-weight: bold;
}

/* .bl-jumbotron .container button, input{
  font-weight: bold;
} */

.bl-jumbotron .container .lead{
  font-size: 20px;
  color: #ddd; /* Colore non esatto */
}

.bl-form-header{

}

.brand .box-loghi img{
  padding: 10px 0;
  width: 150px;
  height: auto;
}
